.git
.vs
.vscode
.run-logs
artifacts
coverage
TestResults

**/bin
**/obj
**/node_modules
**/dist
**/.vite

.env
.env.local
.env.production
.env.staging
appsettings.Development.json

*.log
*.zip
*.user
*.suo
npm-debug.log*
